/* Add styling for your page here */

.App {
    margin: 4em;
    color: darkslategrey;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bakeryItem {
    background-color: #EEDDCE;
    color: #EEDDCE;
}

/*.title {*/
/*    position: center;*/
/*}*/
